<button mat-mini-fab color="none" class="manu1" [matMenuTriggerFor]="belowMenu" (click)="toggleMenu()">
    <mat-icon color="primary">menu</mat-icon>
  </button>
  
  <!-- Filter Button -->
  <button mat-mini-fab color="none" class="filter-icon" title="Filter Data" (click)="toggleFilterPopup()">
    <mat-icon color="primary">filter_list</mat-icon>
  </button>
  
  <!-- Angular Material Menu -->
  <mat-menu #belowMenu="matMenu" yPosition="below" class="bg-transparent" [hasBackdrop]="false">
    <div class="d-grid gap-2 col-6 mx-auto justify-content-md-end">
      <button mat-mini-fab class="mycolor" title="Conventional Airways" (click)="loadConvData($event)">
        <div class="icon-container">
          <img src="assets/BlackAWY.png" title="Conventional Airways" style="height: 25px; width: 30px;"
            alt="Conventional Airways">
        </div>
      </button>
  
      <button mat-mini-fab class="mycolor" title="Non-Conventional Airways" (click)="loadNonConvData($event)">
        <div class="icon-container">
          <img src="assets/AWY.png" title="Non-Conventional Airways" style="height: 25px; width: 30px;"
            alt="Non-Conventional Airways">
        </div>
      </button>
      <button mat-mini-fab class="mycolor" title="FIR">
        <div class="icon-container">
          <i class="bi bi-pentagon text-primary-emphasis" title="FIR"></i>
        </div>
      </button>
      <button mat-mini-fab class="mycolor" title="Waypoint" (click)="toggleWaypoints($event)" >
        <div class="icon-container">
          <mat-icon title="Waypoint" color="primary">change_history</mat-icon>
        </div>
      </button>
  
      
     
      <button mat-mini-fab class="mycolor" title="Aerodrome Obstacle" (click)="toggleAerodromeAirspace($event)">
        <div class="icon-container">
          <img src="assets/Lighted_Obstacle.png" title="Aerodrome Obstacle" style="height: 80%; width: 50px;"
            alt="Aerodrome Obstacle">
        </div>
      </button>
      
    </div>
  </mat-menu>
   
   
 
  <!-- Filter Popup -->
<div *ngIf="filterPopupVisible" id="filter-popup" class="filter-popup">
    <h3>Filter By</h3>
    <a href="#" id="filter-popup-closer" class="filter-popup-closer" (click)="closeFilterPopup($event)" >×</a>
     
   
    <form>
      <!-- Fields for Conventional Airways -->
      <div *ngIf="selectedType === 'Conv'">
        <div class="form-group">
          <label for="airway_id_conv">Airway ID:</label>
          <input type="text" id="airway_id_conv" #airwayIdInput>
        </div>
        
        <div class="form-group">
          <label for="upper_limit_conv">Upper Limit:</label>
          <input type="text" id="upper_limit_conv" #upperLimitInput>
        </div>
        
        <div class="form-group">
          <label for="lower_limit_conv">Lower Limit:</label>
          <input type="text" id="lower_limit_conv" #lowerLimitInput>
        </div>
        
        <div class="form-group">
              <label for="airspace_nonconv">Airspace:</label>
              <select id="airspace_nonconv" #airspaceInput>
                <option value="" disabled selected>Select an airspace</option>
                <option *ngFor="let airspace of airspaceOptions" [value]="airspace">{{ airspace }}</option>
              </select>
            </div>
        
        <div class="form-group">
          <label for="mea_conv">MEA (FT):</label>
          <input type="text" id="mea_conv" #meaInput>
        </div>
        
        <button type="button" class="buttons" 
          (click)="applyConvFilter(
            airwayIdInput.value,
            upperLimitInput.value, 
            lowerLimitInput.value, 
            airspaceInput.value,
            meaInput.value
          )">
          Apply
        </button>
      </div>
      
      <!-- Fields for Non-Conventional Airways -->
      <div *ngIf="selectedType === 'Non Conv'">
        <div class="form-group">
          <label for="airway_id_nonconv">Airway ID:</label>
          <input type="text" id="airway_id_nonconv" #airwayIdInputNonConv>
        </div>
        
        <div class="form-group">
          <label for="upper_limit_nonconv">Upper Limit:</label>
          <input type="text" id="upper_limit_nonconv" #upperLimitInputNonConv>
        </div>
        
        <div class="form-group">
          <label for="lower_limit_nonconv">Lower Limit:</label>
          <input type="text" id="lower_limit_nonconv" #lowerLimitInputNonConv>
        </div>
        
        <div class="form-group">
              <label for="airspace_nonconv">Airspace:</label>
              <select id="airspace_nonconv" #airspaceInputNonConv>
                <option value="" disabled selected>Select an airspace</option>
                <option *ngFor="let airspace of airspaceOptions" [value]="airspace">{{ airspace }}</option>
              </select>
            </div>
        
        <div class="form-group">
          <label for="mea_nonconv">MEA (FT):</label>
          <input type="text" id="mea_nonconv" #meaInputNonConv>
        </div>
        
        <button type="button" class="buttons" 
          (click)="applyNonConvFilter(
            airwayIdInputNonConv.value, 
            upperLimitInputNonConv.value, 
            lowerLimitInputNonConv.value, 
            airspaceInputNonConv.value,
            meaInputNonConv.value
          )">
          Apply
        </button>
      </div>
      
    </form>
    
  </div>

  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer" (click)="closePopUp($event)"></a>
    <div id="popup-content"></div>
  </div>

  <div id="map" style="height: 100vh; width: 100%;"></div>
 
